<template name="about">
  <div id="about" class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>We're</h4>
          <div class="col m4 ">
            <h3>Agile</h3>
            <p class="left-align light">Our workteam focus on <b>quality software</b> products; through process optimizations and <b>best practices</b>. We help our clients to <b>achieve their</b> business <b>needs</b>.</p>
          </div>
          <div class="col m4 ">
            <h3>Specialists</h3>
            <p class="left-align light">We specialize in web <b>applications</b> and web <b>services</b>, this means we have a lot of experience with <b>technologies</b> such as Javascript (frontend/Back End), Websockets, WebRTC, local search engine <b>implementation/optimization</b>. </p>
          </div>
          <div class="col m4 center">
            <h3> &#60;3 software </h3>
            <p class="left-align light">We're a <b>devoted</b> software development <b>team</b>, who love challenges as well as working close <b>to our clients</b>.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
