<template name="header">
  <div id="index-banner" class="parallax-container ">
    <div class=" no-pad-bot">
      <div class=" ">

        <video   autoplay loop poster="/imgs/backgroundwm.png">
          <source src="skyline.webm" type="video/webm">
            <source src="skyline.mp4" type="video/mp4">
            </video>

            <h1 class="header center text-lighten-2 animated bounceInDown retraso-1">We are Webmonster</h1>
            <div class="row center">
              <h5 class="header col s12 light animated bounceInDown retraso-2">Building high performance <strong>software</strong> for awesome companies </h5>
            </div>
            <div class="row center">
              <a href="#about" id="download-button" class="btn-large waves-effect waves-light teal darken-3 animated bounceInDown retraso-3">Explore </a>
            </div>
          </div>
        </div>
        <!-- <div class="parallax"><img src="/imgs/backgroundwm.png" alt="Unsplashed background img 1"></div> -->
      </div>
    </template>
