<template name="navigation">
  <div class="navbar-fixed">
    <nav class="white" role="navigation ">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
          <img class="responsive-img" style="height:50px" src="imgs/webmonsterlogo.png"/>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#about">Hello!</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#portfolio">Experience</a></li>
          <li><a href="http://webmonster.mx">Main site</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav fixed">
          <li><a href="#about">Hello!</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#portfolio">Experience</a></li>
          <li><a href="http://webmonster.mx" target="_blank">Main site</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</template>
