<template name="modals">

  <div id="modal5" class="modal">
    <div class="modal-content">
      <h4 class="">WMPOS</h4>
      <h5>Soporte Técnico Puebla</h5>
      <p>Web based Point of sale, tailor developed to cover enterprise needs. Includes Subsidiary Stock management, user roles and customer feedback.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Invoice Stamping Web service</h4>
      <h5>Factura Net</h5>
      <p>High Performance SOAP web service, Based on Mexican Invoice Stamping Standards. Validates XML and seals using HSM. Thousands of simultanious users and stored personal information. Includes several methods for stamping, Asynchronus cancelation and status fetching.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Health manager system</h4>
      <h5>SOS Palao</h5>
      <p>CRM adaptation to trace Health analysis from company's customers.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Feria Tradicional Subscriptions</h4>
      <h5>Cerveza Feria Tradicional</h5>
      <p>CRM adaptation to manage logistics on customer deliveries. Google maps & calendar API integration.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>
  <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Pandora T-shirt Designer</h4>
      <h5>Pandora graphics</h5>
      <p>Web Aplication, users load images to quote final pricing based on personal designs. Online payment to direct ordering.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>
</template>
