<template name="portfolio">
  <div id="portfolio" >
    <div class="slider">
      <ul class="slides">
        <li>

          <a href="#modal1" class="modal-trigger">    <img src="imgs/portfolio/5.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3 class="con-fondo">Invoice Stamping Web service</h3>
              <h5 class="con-fondo light grey-text text-lighten-4">Vanguardia en Timbrado de CFDI</h5>
            </div>
          </a>
        </li>
        <li>

          <a href="#modal2" class="modal-trigger">    <img src="imgs/portfolio/2.jpg"><!-- random image -->
            <div class="caption right-align">
              <h3 >Health management system</h3>
              <h5 class="light grey-text text-lighten-3">Check your Health status. anywhere, anytime</h5>
            </div>
          </a>
        </li>
        <li>

          <a href="#modal3" class="modal-trigger">    <img src="imgs/portfolio/3.jpg"><!-- random image -->
            <div class="caption left-align">
              <h3 class="con-fondo" >Feria Tradicional Subscriptions</h3>
              <h5 class="light grey-text text-lighten-3 con-fondo">Simplifying Delivery Logistics. Real Time Tracing Service CRM</h5>
            </div>
          </a>
        </li>
        <li>
          <a href="#modal4" class="modal-trigger">    <img src="imgs/portfolio/4.jpg"> <!-- random image -->
            <div class="caption center-align">
              <h3 >Pandora T-shirt Designer</h3>
              <h5 class="light grey-text text-lighten-3">Let your customer sense the freedom of true and personalized design.</h5>
            </div>
          </a>
        </li>
        <li>
          <a href="#modal5" class="modal-trigger">    <img src="imgs/portfolio/1.jpg"><!-- random image -->
            <div class="caption center-align">
              <h3 class="con-fondo">WMPOS</h3>
              <h5 class="con-fondo light grey-text text-lighten-3">Improve your buisness sales with cutting edge technology</h5>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

</template>
